@font-face {
  font-family: 'DejaVuSans';
  src: url('./assets/fonts/DejaVuSans.woff2') format('woff2'),
      url('DejaVuSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DejaVuSans Bold';
  src: url('./assets/fonts/DejaVuSans-Bold.woff2') format('woff2'),
      url('DejaVuSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DejaVuSans';
  src: url('./assets/fonts/DejaVuSans-Bold.woff2') format('woff2'),
      url('DejaVuSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



body{
  font-family: 'DejaVuSans',sans-serif;
    margin: 0;
    padding: 0;
}
.common-div h2{
    font-family: 'DejaVuSans',sans-serif;

}
header{
    position: sticky;
    top: 0;
    z-index: 5;
}

header, footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color:#e8e8e8;
}
footer span{
  font-family: 'DejaVuSans Bold',sans-serif;
}
header div {
    width: 4%;
}
header div img{
    width: 100%;
    height: 100%;
}
.main_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 140px 0;
}
.five_story_container{
  width: 50%;
}
.five_story_container img{
  width: 100%;
}
.indrodution{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 20% auto;
}
.indrodution p{
    color: #e05b43;
    font-weight: bold;
    font-size:1.5vw;
}
.moreInfo_intro article{
  margin-top: 60px;     
  font-size: 1vw;
}
.indrodution article{
    font-size: 1vw;
}
.eachPerson_MU{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3;
    margin: 5px auto;
    flex-wrap: wrap;
    font-size: 1vw;

}
.eachPerson_MU img{
    width:100%;
    height: 100%;  
}

.person_info{
    font-weight: bold;
    color: #e05b43;
}

/*btn hover start*/
.person_button {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    border:none;
    font-weight: bold;
  }
  .person_button:after, .person_button:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }
  .person_button:after {
    top: -1px;
    left: -1px;
    border-top: 2px solid #e05b43;
    border-left: 2px solid #e05b43;
  }
  .person_button:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 2px solid #e05b43;
    border-right: 2px solid #e05b43;
  }
  .person_button:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .person_button:hover:before, .person_button:hover:after {
    width: 100%;
    height: 100%;
  }
/*btn hover end*/

/*img hover start*/

.img-hover-zoom {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
    cursor: pointer;
    padding:11px;
}

.img-hover-zoom img {
    transition: transform 1.5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.2);
}
.button{
    background-color: #fdfdfc;
    border-color: #e05b43;
    -webkit-box-shadow: 5px 5px 0 0 #e05b43;
    box-shadow: 5px 5px 0 0 #e05b43;
    text-decoration: none;
    color: #333;
    transition: 0.2s ease-in-out all;

}

/*img hover end*/

.author_container{
    width: 51%;
    margin: 0 auto;
    text-align: center;
}
.moreInfo_author{
  margin-top: 200px;
}

.published_container:before{
    border-top: 2px solid #e77454;
    content: "";
    display: block;
    margin: 1rem auto;
    width: 6rem;
}
.published_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}
.read-more-hide-container,.read-more-show-container{
  width:100%;

}
  .read-more-show img,.read-more-hide img{
    width: 100%;
  }
  .read-more-hide,.read-more-show{
    display: block;
    margin: auto;
    width: 25%;
  }
  .read-more-hide{
    width: 21% !important;
  }
  /*personal-page*/
  .age_conatiner{
    margin: -13px 0 5px 0 ;
  }
  #personal_page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
     margin: 140px auto; 
    /* height: 100vh; */
  }
  .left_side, .right_side{
    width: 50%;
    text-align: center;

  }
  .right_side{
    margin-right: 80px;
  }
  .left_side img{
      width: 100%;
      height: 100%;
  }
  .right_side div h2{
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .fa-video-camera:before{
    color: #e54e25;
    cursor: pointer;
  }
 .common-div{
  display: flex;
  justify-content: center;
  align-items: cee;
  align-items: center;
  flex-direction: column;
  line-height: 2;
 }
  /*button hover*/

.buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  height: 100%;
  -webkit-box-pack: center;
    justify-content: center;
  text-align: center;
  width: 100%;
}
.fa-video-camera:before {
  font-size: 35px;
}
.fa-video-camera{
  margin-bottom: 10px;
  margin-top: -10px;
}
#myBtn{
  width: 12%;
  cursor: pointer;  
}
.btn {
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 430px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn:hover {
  text-decoration: none;
}

.btn-1 {
  background: #e54e25;
  font-weight: 100;
}
.btn-1 svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}

.btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

/*responsive*/

.iframe{
  width: 700px;
  height: 380px;
}

  /*modal*/

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:rgba(0, 0, 0, 0.73); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    text-align: center;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    width: 700px;
    height: 47px;
    padding: 2px 16px;
    color: white;
    margin: auto;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  @media only screen and (max-width: 1440px) {
    .moreInfo_intro article {
      font-size: 1.3vw;
    }
  }
  @media only screen and (max-width: 1200px) {
    .right_side {
      margin-right: 120px;
    }

  }
  
@media only screen and (max-width: 992px) {
  .five_story_container{
    width: 90%;
  }
  .main_page{
    margin: 75px 0;
  }
  header div {
      width: 6%;
  }
  .eachPerson_MU{
      width: 50%;
  }
  .person_button,.person_info {
      font-size: 2vw;
  }
 
  .indrodution p{
      font-size:3vw;
  }
  .indrodution article{
      font-size: 1.7vw;
  }
  #personal_page{
    flex-direction: column;
  }
  .right_side {
    margin-right: 0;
  }
  
  #personal_page{
    margin: 50px 0;
  }
 
  .left_side {
    width: 100%;
  }
  .right_side{
    width: 80%;
  }
  .btn{
    margin: 2em 0 1em;
  }
  .person_age{
    font-size: 2vw;
  }
  .moreInfo_intro{
    top:10px;
  }
  .moreInfo_author{
    margin-top: 140px;
  }
  .moreInfo_intro article {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 830px) {
  .iframe{
    width: 500px;
    height: 280px;
  }
  .modal-header{
    width: 500px;
  }
}



@media only screen and (max-width: 600px) {
  .five_story_container{
    width: 100%;
  }
  header{
      height: 40px;
  }
  header div {
      width: 9%;
  }
  .eachPerson_MU{
      width: 80%;
  }
  .person_button, .person_info {
      font-size: 3vw;
  }
  .indrodution{
      top:60px;
  }
  .indrodution p{
      font-size:5vw;
  }
  .indrodution article{
      font-size: 3vw;
  }
  .moreInfo_intro {
    top:10px;
  }
  .moreInfo_intro article {
    font-size: 3vw;
  }
  .author_container{
    margin-top: 140px;
  }
  .iframe{
    width: 400px;
    height: 225px;
  }
  .modal-header{
    width: 400px;
  }
  .person_age{
    font-size: 3vw;
  }
  .author_container{
    width: 70%;
  }
  #moreInfo-btn{
    font-size: 13px;
  }
}
@media only screen and (max-width: 420px) {
  .btn{
    font-size: 13px;
  }
  .iframe {
    width: 300px;
    height: 190px;
  }
  .modal-header{
    width: 300px;
  }
  #main-btn{
    font-size: 11px;
  }
  .moreInfo_intro article {
    font-size: 4vw;
  }
  #moreInfo-btn {
    font-size: 10px;
  }
}
/* @media only screen and (max-width: 350px) {
  .btn{
      font-size: 13px;
  }
  .iframe {
    width: 300px;
    height: 190px;
}
} */
.hide {
    display: none;
  }

/* .read-more-show,.read-more-hide{
    border: 1px solid #e2e2e2;
    text-decoration: none;
    padding: 7px 10px;
    color: #e54f26;
    font-weight: bold;
    border-radius: 12px;
} 
.read-more-show:hover,.read-more-hide:hover{
    background-color: #f5f5f5;
    border: 1px solid #e54f26;
} */
.article_common_container{
    height: 470px;
    overflow: auto;
}



/*loader start*/
.loader-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    z-index: 1000;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #d56003;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }


  .grow img{
    transition: 1s ease;
  }
    
  .grow img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
  }